* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Times New Roman";
  max-width: 740px;
  margin: 0 auto;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

#app {
  height: 100%;
}

/*** loader ***/

.spinner::before {
  display: block;
  animation: spinner 500ms infinite linear;
  content: ":";
  font-weight: bold;
  color: #999;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader::before {
  font-size: 5em;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50%;
}

#indicator {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 2em;
  cursor: pointer;
}

/*** generic styles ***/

h1, h2, h3 {
  color: #111;
  font-family: Arial;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0em;
  padding-bottom: 0em;
  line-height: 1em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0em;
  padding-bottom: 0em;
}

img {
  display: inline-block;
  max-width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

p, li {
  color: #333;
  padding-top: 0em;
  font-size: 1.25em;
  line-height: 1.5em;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul li {
  padding-left: 1em;
  text-indent: -1em;
}

ul li:before {
  float: left;
  display: block;
  content: "►";
  width: 2em;
  font-size: 0.5em;
  color: #888;
}

/*** layout ***/

#logo {
  position: absolute;
  top: 1em;
  left: 1em;
}

#logo h2 {
  margin: 0px;
  padding: 0px;
  color: #111;
}

#logo h3 {
  margin: 0px;
  padding: 0px;
  color: #999;
  font-size: 1.25em;
  margin-top: 0.15em;
}

#content {
  margin-top: 5em;
}

.interface {
  font-family: Arial;
}

/*** animation ***/

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

/*** inputs etc. ***/

textarea {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 20px;
  color: #444;
}

button {
  display: block;
  margin-left: auto;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  min-width: 5em;
  border: 2px solid #5EC997;
  border-radius: 4px;
  padding: 0.25em;
  background-color: #5EC997;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

button:disabled {
  border: 2px solid #92AB9F;
  background-color: #92AB9F;
  cursor: auto;
}

/*** posting ***/

#post.is-posting textarea {
  opacity: 0.5;
  disabled: true;
}

#post.is-posting .spinner::before {
  color: white;
}

.error {
  color: #F176A3;
}
